[Unit]
Description=Periodic MinIO Mimir backup to offsite storage

[Timer]
OnCalendar={{ horde_monitoring_mimir_backup_schedule }}
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
